.sectionmid {
    .img {
        background-size: cover;
        height: 22rem;
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem;
    }

    .index-subhead {
        color: yellow;
        font-weight: bold;
    }

    p {
        color: yellow;
    }

    .index-img1 {
        background-image: url("../images/savitri.jpg");
    }
    .index-img2 {
        background-image: url("../images/audible.jpg");
    }
    .index-img3 {
        background-image: url("../images/tirumular.jpg");
    }
}
