$color1:white;
$color2:rgb(242,107,10);
$color3:rgb(135, 135, 135);
$color4:black;
$color5:#f8f9fa;


body {
    background: $color5;
}

/*
nav {
    margin-left: 5%;
}

.nav-item {
    padding: 20px;
    font-size: 18px;
}
nav> ul> li> .nav-link {
    padding-left: 30px;
    padding-right: 30px;
}
*/

.navbar-light .navbar-nav .nav-link {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 18px;
}
   

.navbar-nav .nav-item:active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: $color2;
}

.schedule {
    background-color: $color2;
    border-radius: 30px;
}

.sliderheading {
    position: absolute;
    bottom: 250px;
    font-size: 50px;
}

.border1 {
    border: 1px solid $color1;
    padding: 10px;
    width:20%;
    margin-left: 520px;
}

.container {
    text-align: center;
}

.bgcolor {
    display: flex;
    background-color: $color2;
    justify-content: center;
    color: $color1;
    padding: 40px;

}

.height {
    height: 700px;
}

h1,h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    letter-spacing: 0.05em;
}

h3 {
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.leftalign {
    text-align: left;
}
.marginright {
    margin-right:200px;
    margin-left:150px;
    font-size: 30px;

    img{
        max-width: 20rem;
    }
}
.line {
    border-right: 1px solid $color1;
}

.line1 {
    margin-left: 15px;
    margin-right: 15px;
}

.padding {
    padding-left: 50px;
    padding-right: 50px;
    
}

.padding1 {
    padding-top: 30px;
}

.padding2 {
    padding-top: 50px;
}

.border {
    border-radius: 35px;
    background-color: $color1;
    margin-top: 30px;
    margin-bottom: 60px;
    padding:20px;
    height: 50%;
}

.fontcolor {
    color: $color2;
    text-decoration: underline;
    padding-top: 20px;
}

.bgbutton {
    background-color: $color2;
    color: $color1;
    border-radius: 25px;
    padding:10px;
    width: 30%;
    text-align: center;
}

.btn {
    margin-left: 0px;
}

a {
    color: $color1;
}



/*
.aboutimg {
    background-image: url("../images/what rev do.jpg");
    background-size: cover;
    height:500px;
    width: 100%;
}
.imgheading {
    position: absolute;
    top:250px;
    left:750px;
    color: $color1;
}
.aboutimg {
    display: block;
    width: 100%;
}
*/

.thumbnail {
    position: relative;
}

.imgheading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: $color2;
    font-weight: bold;
}

.orangeclr {
    background-color: $color2;
    color: $color1;
    padding: 40px;
}

.greyclr {
    background-color: $color3;
    color: $color1;
    padding: 40px;
}

.blackclr {
    background-color: $color4;
    color: $color1;
    text-align: center;
    padding: 20px;
}

.margbtm {
    margin-bottom: 100px;
}

.width {
    width:100%;
}

.bgcolor2 {
    background-color: $color3;
    justify-content: center;
}

