$homebgcolor: #212529;
$headerbg: rgba(0, 131, 172, 1);
$hometextcolor: white;
$headerpadding: 60px;
$fontsize: 20px;
$headeractive: rgb(0, 204, 255);
$hr: darkgray;
$margin:30px;
$left:50px;
$lineheight:2;
$display:flex;
$padding:10px;
$margin-top:50px;
$width:100px;